body {
    margin: 0;
    padding: 0;
    background: gray;
    height: 100vh;
    font-family: "Josefin Sans";
    font-weight: 400;
    line-height: 26px;

    
}
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
header {
    background: #f9f9fb url(../img/header_bg.jpg) no-repeat center / cover;
    height: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    color: white;
    align-items: center;
   
    h1 {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 4.8px;
    }
    p {
        color: #ffffff;
        font-size: 22px;
        letter-spacing: 6.82px;
    }
}
.search-container {
    background-color: white;
    height: 60px;
    input {
        color: #999999;
        font-size: 14px;
        letter-spacing: 2.8px;
        width: 500px;
        text-align: center;
        outline:none;
        border: none;

    }
    button {
        color: #ffffff;
        font-family: Aleo;
        font-size: 14px;
        letter-spacing: 1.4px;
        background-color: #5474fd;
        border: 2px solid #ffffff;
        width: 150px;
        height: 60px;
    }

}
#scroll{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2.8px;
    margin-top: 120px;
}
aside {
    width: 100%;
    height: 80px;
    background-color: #5474fd;

    #aside-container {
        width: 65%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        #logo{
            color: #ffffff;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2.4px;
        }
        nav {
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style: none;
            }
            li {
                color: #ffffff;
                font-family: Aleo;
                font-size: 14px;
                text-transform: uppercase;   
                text-decoration: none;
                margin: 10px;
            }
        }

    }
}
main {
    width: 100%;
    #why{
    background: #f9f9fb url(../img/why-bg.jpg) no-repeat center / cover;
    height: 685px;
    display: flex;
    justify-content: center;

    #why-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        border: 1px solid red;
    } 
    }
}
#like {
    background-color: #333333;
    height: 337px;
    display: flex;
    justify-content: center;
    #like-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        border: 1px solid red;
    } 
}
#spain-1 {
    background: #232323 url(../img/spain-1-bg.jpg) no-repeat center / cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    #spain-content-1{
        width: 540px;
        height: 371px;
        background-color: #232323;
        opacity: 0.9;
        margin-left: 17.5%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
        padding: 30px;
        h3 {
            color: #e8e8e8;
            font-size: 20px;
            letter-spacing: 1.5px;
        }
        h2 {
            color: #ffffff;
            font-size: 20px;
            text-transform: uppercase;
        }
        p {
            color: #e8e8e8;
            font-size: 16px;
        }
        button {
            width: 225px;
            height: 60px;
            background-color: #5474fd;
            border:none;
            color: #ffffff;
            font-family: Aleo;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }
    }
}
#spain-2 {
    background: #232323 url(../img/spain-2-bg.png) no-repeat center / cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    #spain-content-2{
        width: 540px;
        height: 371px;
        background-color: #232323;
        opacity: 0.9;
        margin-right: 17.5%;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        padding: 30px;
        h3 {
            color: #e8e8e8;
            font-family: "Josefin Sans";
            font-size: 20px;
            letter-spacing: 1.5px;
        }
        h2 {
            color: #ffffff;
            font-family: "Josefin Sans";
            font-size: 20px;
            text-transform: uppercase;
        }
        p {
            color: #e8e8e8;
            font-family: "Josefin Sans";
            font-size: 16px;
        }
        button {
            width: 225px;
            height: 60px;
            background-color: #5474fd;
            border:none;
            color: #ffffff;
            font-family: Aleo;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }
    }
}
#what {
    background: #232323 url(../img/what-bg.png) no-repeat center / cover;
    height: 700px;
}

footer{
    background: #232323;
    height: 268px;
}